<!--<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Ferrous</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/contingent']">
                        <span class='glyphicon glyphicon-th-list'></span> Contingents
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/person']">
                        <span class='glyphicon glyphicon-th-list'></span> People
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/roomLayout/mark']">
                        <span class='glyphicon glyphicon-th-list'></span> Rooms
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
    -->
<a mat-list-item [routerLink]="['/home']"> <mat-icon>home</mat-icon> &nbsp; Home</a>
<a mat-list-item [routerLink]="['/counter']"> <mat-icon>queue</mat-icon> &nbsp; Counter</a>
<a mat-list-item [routerLink]="['/contingent']"> <mat-icon>list</mat-icon> &nbsp; Contingents</a>
<a mat-list-item [routerLink]="['/person']"> <mat-icon>list</mat-icon> &nbsp; People</a>
<a mat-list-item [routerLink]="['/locationSelect/mark']"> <mat-icon>assignment</mat-icon> &nbsp; Rooms</a>