<!-- Create button -->
<button mat-icon-button color="primary" 
        [routerLink]="['/personDetails/', '0', 1]" 
        class="xunk-table-button-margin">
    <mat-icon>add</mat-icon>
</button>

<!-- Loading spinner -->
<p *ngIf="!people">
    <mat-progress-spinner id="load" mode="indeterminate"> </mat-progress-spinner>
</p>

<!-- List of people -->
<div class='mat-elevation-z3 xunk-table table-responsive' *ngIf="people">
    <table class='table table-hover'>
        <thead>
            <tr>
                <th>MI No.</th>
                <th>Name</th>
                <th>CL No.</th>
                <th class="xunk-hide-mobile"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of people;  let rowIndex = index" (click)="handleTableClick(person)">
                <td>{{ person.mino }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.contingentLeaderNo }}</td>

                <td class="xunk-hide-mobile" click-stop-propagation>
                    <button class="xunk-table-button" style="float:right" mat-button color="primary" [routerLink]="['/personDetails/', person.mino, 1]">Edit </button>
                    <button class="xunk-table-button" style="float:right" mat-button color="warn" (click)="delete(person.mino, rowIndex);">Delete </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
