<!-- Loading spinner -->
<div *ngIf="!person">
    <mat-progress-spinner id="load" mode="indeterminate"> </mat-progress-spinner>
</div>

<!-- Body -->
<div *ngIf="person">
    <div class="row" [hidden]="editing">
        <div class="col-8 col-md-3"><b>MI No:</b></div>
        <div class="col-4 col-md-9"> {{ person.mino }} </div>

        <div class="col-md-3"><b>Name:</b></div>
        <div class="col-md-9"> {{ person.name }} </div>

        <div class="col-md-3"><b>College:</b></div>
        <div class="col-md-9"> {{ person.college }} </div>

        <div class="col-8 col-md-3"><b>Contingent Leader No:</b></div>
        <div class="col-4 col-md-9"> {{ person.contingentLeaderNo }} </div>

        <div class="col-8 col-md-3"><b>Sex:</b></div>
        <div class="col-4 col-md-9"> {{ person.sex }} </div>
    </div>

    <br *ngIf="!editing" />

    <div [hidden]="!editing"
         class="container"
         fxLayout="column"
         fxLayoutGap="1px"
         fxLayoutAlign="left left">

        <mat-form-field>
            <input fxFlex matInput name="pmino" [(ngModel)]="person.mino" placeholder="MI No">
        </mat-form-field>

        <mat-form-field>
            <input fxFlex matInput name="pname" [(ngModel)]="person.name" placeholder="Name">
        </mat-form-field>

        <mat-form-field>
            <input fxFlex matInput name="pcoll" [(ngModel)]="person.college" placeholder="College">
        </mat-form-field>

        <mat-form-field>
            <input fxFlex matInput name="pclno" [(ngModel)]="person.contingentLeaderNo" placeholder="Contingent Leader No.">
        </mat-form-field>
        <mat-form-field>
            <mat-select fxFlex mat-select name="psex" [(ngModel)]="person.sex" placeholder="Sex">
                <mat-option value="M">M</mat-option>
                <mat-option value="F">F</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div fxLayout="column"
         fxLayoutGap="8px">
        <div fxLayout
             fxLayoutGap="8px"
             class="xunk-max-200px-desktop">
            <ng-container *ngIf="!editing">
                <button fxFlex mat-raised-button color="primary" (click)="edit();"> Edit </button>
                <button mat-button color="warn" (click)="delete();"> Delete </button>
            </ng-container>
            <ng-container *ngIf="editing">
                <button fxFlex mat-raised-button color="primary" (click)="save();">Save</button>
                <button mat-raised-button color="accent" (click)="edit();">Cancel</button>
            </ng-container>
        </div>
        <button class="xunk-max-200px-desktop" mat-raised-button color="primary" [routerLink]="['/contingentDetails/', person.contingentLeaderNo]">Open Contingent</button>
    </div>
</div>