<!-- Controls at top-->
<div fxLayout 
     fxLayoutAlign="start start"
     fxLayoutGap="10px"
     fxLayoutGap.xs="3px"
     class="xunk-table-prehead">
    <!-- Search Box -->
    <mat-form-field fxFlex>
        <input matInput
               name="clno" [(ngModel)]="enteredCL"
               placeholder="Contingent Leader No.">
    </mat-form-field>

    <!-- Create record button -->
    <button mat-icon-button color="primary"
            (click)="openNewRecord()"
            class="xunk-table-button-margin">
        <mat-icon>add</mat-icon>
    </button>
</div>

<!-- Loading spinner -->
<div *ngIf="!contingents">
    <mat-progress-spinner id="load" mode="indeterminate"> </mat-progress-spinner>
</div>

<!-- Table of contingents -->
<div *ngIf="contingents" class='mat-elevation-z3 xunk-table table-responsive'>
    <table class='table table-hover' *ngIf="contingents">
        <thead>
            <tr>
                <th>CL No.</th>
                <th>Reg (M)</th>
                <th>Reg (F)</th>
                <th>Arrived (M)</th>
                <th>Arrived (F)</th>
            </tr>
        </thead>
        <tbody>
            <!-- Filtered rows -->
            <tr *ngFor="let contingent of paginatorHelper.paginate(contingents | filtercontingents:enteredCL)" (click)="handleTableClick(contingent)">
                <td>{{ contingent.contingentLeaderNo }}</td>
                <td>{{ contingent.male }}</td>
                <td>{{ contingent.female }}</td>
                <td>{{ contingent.arrivedM }}</td>
                <td>{{ contingent.arrivedF }}</td>
            </tr>
        </tbody>
    </table>

    <mat-paginator [length]="(contingents | filtercontingents:enteredCL).length"
                   [pageSize]="paginatorHelper.pageSize"
                   [pageSizeOptions]="paginatorHelper.pageSizeOptions"
                   (page)="paginatorHelper.pageEvent = $event">
    </mat-paginator>

</div>