<span class="h1-inline">Contingents</span>

<button mat-raised-button color="primary"
        [routerLink]="['/contingentDetails/', '0', 1]"
        class="xunk-table-button-margin">
    Create
</button>

<div class='xunk-table table-responsive'>
    <table class='table table-hover' *ngIf="contingents">
        <thead>
            <tr>
                <th>CL No.</th>
                <th>Male</th>
                <th>Female</th>
                <th>Arrived (M)</th>
                <th>Arrived (F)</th>
                <th class="xunk-hide-mobile"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contingent of contingents;  let rowIndex = index" (click)="handleTableClick(contingent)">
                <td>{{ contingent.contingentLeaderNo }}</td>
                <td>{{ contingent.male }}</td>
                <td>{{ contingent.female }}</td>
                <td>{{ contingent.arrivedM }}</td>
                <td>{{ contingent.arrivedF }}</td>

                <td class="xunk-hide-mobile">
                    <button class="xunk-table-button" mat-raised-button color="primary" [routerLink]="['/contingentDetails/', contingent.contingentLeaderNo]">Details </button>
                    <button class="xunk-table-button" mat-button color="accent" [routerLink]="['/contingentDetails/', contingent.contingentLeaderNo, 1]">Edit </button>
                    <button class="xunk-table-button" mat-button color="warn" (click)="delete(contingent.contingentLeaderNo, rowIndex);">Delete </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>