<h1 mat-dialog-title>Contingent Arrival</h1>

<div mat-dialog-content>
    <div *ngIf="nContingentArrv"
         fxLayout.xs="column"
         fxLayoutGap="8px"
         fxLayoutGap.xs="3px"
         fxLayoutAlign="left left">
        <mat-form-field>
            <input matInput name="camale" [(ngModel)]="nContingentArrv.male" placeholder="Registered (M)">
        </mat-form-field>

        <mat-form-field>
            <input matInput name="cafemale" [(ngModel)]="nContingentArrv.female" placeholder="Registered (F)">
        </mat-form-field>

        <mat-form-field>
            <input matInput name="caOnSpotM" [(ngModel)]="nContingentArrv.maleOnSpot" placeholder="On Spot (M)">
        </mat-form-field>

        <mat-form-field>
            <input matInput name="caOnSpotF" [(ngModel)]="nContingentArrv.femaleOnSpot" placeholder="On Spot (F)">
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-select [(ngModel)]="chosenEntry" placeholder="Choose Old Entry">
            <mat-option *ngFor="let ca of contingentArrivals; let rowIndex = index" [value]="rowIndex">
                {{ca.createdOn | date:'d'}} |
                &#9200; {{ca.createdOn | date:'(hh:mm)'}} |
                &#9794; {{ca.male}} <ng-container *ngIf="ca.maleOnSpot > 0">+ {{ca.maleOnSpot}}</ng-container> |
                &#9792; {{ca.female}} <ng-container *ngIf="ca.femaleOnSpot > 0">+ {{ca.femaleOnSpot}}</ng-container>
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <ng-container *ngIf="chosenEntry !=-1 ">
        &nbsp; Alloted Capacity: {{ GetAllotedCapacity(contingentArrivals[chosenEntry]) }}
        <button mat-icon-button color="warn" (click)="deleteArrival(chosenEntry);"><mat-icon>delete</mat-icon></button>
    </ng-container>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="confirmSelection(chosenEntry)" color="primary">
        Continue
    </button>
    <button mat-button (click)="dialogRef.close()">
        Cancel
    </button>
</div>