<!-- Loading spinner -->
<div *ngIf="!buildings">
    <mat-progress-spinner id="load" mode="indeterminate"> </mat-progress-spinner>
</div>

<!-- Body -->
<div *ngIf="buildings" class='xunk-table table-responsive'>
    <table class='xunk-table-pointer table table-hover'>
        <thead>
            <tr>
                <th>Location</th>
                <th>Empty</th>
                <th>Filled</th>
                <th>Not Ready</th>
                <th>Per Room</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let building of buildings"
                [routerLink]="['/roomLayout/', building.location, clno]">
                <td>{{building.location}}</td>
                <td><b>{{building.capacityEmpty}}</b></td>
                <td>{{building.capacityFilled}}</td>
                <td>{{building.capacityNotReady}}</td>
                <td>{{building.defaultCapacity}}</td>
            </tr>
        </tbody>
    </table>
</div>