<!-- Template CSS-->
<link href="/roomTemplates/room.css" rel="stylesheet" type="text/css" />

<!-- Loading spinner -->
<div *ngIf="!rooms">
    <mat-progress-spinner id="load" mode="indeterminate"> </mat-progress-spinner>
</div>

<!-- Location label and refresh button-->
<span class="h1-inline"> {{ loc_fullname }} </span>
<button class="xunk-table-button" mat-icon-button color="primary" (click)="reloadRooms(true)">
    <mat-icon>refresh</mat-icon>
</button>

<!-- Layout -->
<div [hidden]="!rooms" class="xunk-center-wrapper table-responsive">
    <div #roomsLayout class="xunk-center" style="padding:10px">
        Loading Layout
    </div>
</div>

<!-- Body -->
<div *ngIf="rooms">
    <!-- Allocated list -->
    <div>
        <ng-container *ngFor="let room of rooms">
            <ng-container *ngIf="room.selected">
                <div *ngFor="let roomA of room.roomAllocation"
                     class="xunk-room-card mat-elevation-z2">
                    <b>{{ room.location }} - {{ room.room1 }}</b> - <b>{{ roomA.contingentLeaderNo }}</b>
                    <ng-container *ngIf="roomA.partial > 0">(partial, {{roomA.partial}})</ng-container>
                    <button class="xunk-room-button-icon" mat-icon-button color="warn" (click)="unallocateRoom(roomA, room);"><mat-icon>delete</mat-icon></button>
                </div>
            </ng-container>
        </ng-container>
    </div>

    <!-- To Allocate List -->
    <div>
        <ng-container *ngFor="let room of rooms">
            <div *ngIf="room.selected && canAllocate(room)" 
                 class="xunk-room-card mat-elevation-z1">
                <ng-container *ngIf="CheckPartial(room) || room.partialallot">
                    <b>{{ room.location }} - {{ room.room1 }}</b> - {{ this.GetCapacity(room) }} &nbsp;
                    <button *ngIf="room.partialallot" class="xunk-room-button" mat-button color="accent" (click)="room.partialallot = false;">Partial</button>
                    <input style="border:none;" matInput name="partialsel" [(ngModel)]="room.partialsel" placeholder="Partial">
                </ng-container>

                <ng-container *ngIf="!CheckPartial(room) && !room.partialallot">
                    <b>{{ room.location }} - {{ room.room1 }}</b> - {{ this.GetCapacity(room) }}
                    <button class="xunk-room-button" mat-button color="accent" (click)="room.partialallot = true;">Partial</button>
                </ng-container>
            </div>
        </ng-container>
    </div>

    <br>

    <!-- Action buttons -->
    <div class="containerX">
        <div class="container"
             fxLayout
             fxLayout.xs="column"
             fxLayoutGap="8px"
             fxLayoutGap.xs="5px">
            <mat-slide-toggle [(ngModel)]="marking">Mark</mat-slide-toggle>
            <button fxFlex="auto" (click)="Allot();" mat-raised-button color="primary">Allot Rooms</button>
            <button fxFlex="auto" (click)="Mark(0);" mat-raised-button color="warn">Mark Unavailable</button>
            <button fxFlex="auto" (click)="Mark(1);" mat-raised-button color="warn">Mark Empty</button>
            <button fxFlex="auto" (click)="Mark(4);" mat-raised-button color="warn">Mark Not Ready</button>
        </div>
    </div>
</div>