@{
    ViewData["Title"] = "Login";
}

<link rel='stylesheet prefetch' href='https://www.google.com/fonts#UsePlace:use/Collection:Roboto:400,300,100,500'>
<link rel='stylesheet prefetch' href='https://www.google.com/fonts#UsePlace:use/Collection:Roboto+Slab:400,700,300,100'>

<style>
    @Html.Raw(Utilities.InlineFile("account/css/style.css"));
</style>

<div id="dialog" class="dialog dialog-effect-in">
    <div class="dialog-front">
        <div class="dialog-content">
            <form id="login_form" class="dialog-form" action="" method="POST">
                <fieldset>
                    <legend>Log in</legend>
                    <div class="form-group">
                        <label for="user_username" class="control-label">Username:</label>
                        <input type="text" id="user_username" class="form-control" name="user_username" autofocus />
                    </div>
                    <div class="form-group">
                        <label for="user_password" class="control-label">Password:</label>
                        <input type="password" id="user_password" class="form-control" name="user_password" />
                    </div>
                    <div class="pad-top-20 pad-btm-20">
                        <input type="submit" id="continue" class="btn btn-default btn-block btn-lg" value="Continue" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script src='/assets/jquery-3.3.1.min.js'></script>
<script src='/account/js/index.js'></script>