.room {
    height:35px;
    width:30px;
    background-color:beige;
    margin:2px;
    color:white;
    font-size:11pt;
    line-height:85%;
    text-align:center;
    padding-top:6px;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.room span {
    font-size: 8pt;
}

.pseudo {
    height:35px;width:30px;
    margin:2px;
    font-size:15pt;
    padding:6px;
}

.room.empty {
    background-color:darkblue;
    cursor:pointer;
}
.room.unavailable {background-color:lightgray;}
.room.already {
    background-color:gold; 
    color:black;
}
.room.already-partial {
    background-color: greenyellow; 
    cursor: pointer;
    color: black;
}
.room.already-fullshared {
    background-color: yellow;
    color: black;
}
.room.notready {
    background-color:lightpink;
}

.room.occupied {background-color:darkred;}

.room.partial {
    background-color:blue;
    cursor:pointer;
}

.room.sel {
    background-color:forestgreen;
    outline-color:skyblue;
    outline-style: solid;
    outline-width: 1.5px;
    cursor:pointer;
}

table, th, td {
    padding:0;
    border: 1px solid black;
}