<span class="h1-inline">Person</span>

<button mat-raised-button color="primary" 
        [routerLink]="['/personDetails/', '0', 1]" 
        class="xunk-table-button-margin"> Create </button>

<p *ngIf="!people"><em>Loading...</em></p>

<div class='xunk-table table-responsive'>
    <table class='table table-hover' *ngIf="people">
        <thead>
            <tr>
                <th>MI No.</th>
                <th>Name</th>
                <th>CL No.</th>
                <th class="xunk-hide-mobile"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of people;  let rowIndex = index" (click)="handleTableClick(person)">
                <td>{{ person.mino }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.contingentLeaderNo }}</td>

                <td class="xunk-hide-mobile">
                    <button class="xunk-table-button" style="float:right" mat-raised-button color="primary" [routerLink]="['/personDetails/', person.mino]">Details </button>
                    <button class="xunk-table-button" style="float:right" mat-button color="accent" [routerLink]="['/personDetails/', person.mino, 1]">Edit </button>
                    <button class="xunk-table-button" style="float:right" mat-button color="warn" (click)="delete(person.mino, rowIndex);">Delete </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
