:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

#load {
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    height: 140px;
    width: 140px;
    margin: 0;
}

.xunk-table-prehead {
    margin-left: 10px
}

.xunk-table {
    margin: 10px;
    overflow-x: auto;
    cursor: pointer;
    background-color: white;
}

/* --- Bootstrap table modification --- */

.table {
    margin-bottom: 0 !important;
    border-bottom: 1px solid #dee2e6;
}

.table td {
    padding: 0.63rem;
}

.table thead th {
    border-bottom: 1px solid #dee2e6 !important;
}

/* ------------------------------------ */

.xunk-table-pointer td {
    cursor: pointer;
}

.xunk-table-button {
    float: right;
}
.xunk-table-button-margin {
    float: right;
    margin: 10px;
}

.h1-inline {
    font-size: 21pt;
}   

.xunk-max-200px-desktop {
    max-width:250px;
}

.xunk-center-wrapper {
    text-align: center;
}

.xunk-center {
    display: inline-block;
}

.xunk-room-card {
    margin: 10px;
    padding: 10px;
    background-color:white;
}

.xunk-room-button {
    float: right;
    margin-top: -7px;
}

.xunk-room-button-icon {
    float: right;
    margin-top: -8px;
}

@media screen and (max-width: 768px) {
    .xunk-table {
        margin: 3px;
    }

    .xunk-hide-mobile {
        display:none;
        width: 0;
    }

    .xunk-max-200px-desktop {
        max-width: 100%;
    }
}